.App {
  text-align: center;
}

p {
  width: 250px;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  color: black;
}

div {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
}

.content {
  width: 260px;
  height: 350px;
  margin-top: 20px;
}

.sale {
  color: red;
}